RewriteEngine On
Options FollowSymLinks
RewriteCond %{HTTP_HOST} ^adwokat-chronska.pl$
RewriteRule ^(.*)$ http://www.adwokat-chronska.pl/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.adwokat-chronska.pl/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.htm
RewriteRule ^(.*)index.html$ http://www.adwokat-chronska.pl/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.php
RewriteRule ^(.*)index.php$ http://www.adwokat-chronska.pl/$1 [R=301,L]
