body {
	font-size: 13px;
	color: #330000;
	margin: 0px; 
	padding: 0px;
	font-family: Tahoma;
	background: #330000;
	margin-top: 0px
	}
img {
	border: 0px;
	display: inline
   }
p {
	margin: 10px 10px 10px 0px;
	line-height: 18px
  }
  
brightbackground {
	font-size: 13px;
	color: #330000;
	margin: 0px; 
	padding: 0px;
	font-family: Tahoma;
	background: #FFFCE3;
	margin-top: 0px
	}  

headersquare721 {
	font-size: 21px;
	color: #330000;
	margin: 0px; 
	padding: 0px;
	font-family: Square721;
	background: #FFFCE3;
	}
a:link
, a:visited {
				color: #330000
			}
a:hover {
		text-decoration: none
		}

@font-face {
  font-family: 'Square721';
  src: url('Square_721_Blk-Normal.eot')
	   ,url('Square_721_Blk-Normal.ttf') format('truetype');
} 
@font-face {
  font-family: 'Square721BoldExtended';
  src: url('Square_721_Bold-Extended.ttf') format('truetype');
} 
@font-face {
	font-family: 'CooperHewitt-Book';
	src: url('CooperHewitt-Book.otf');
}
@font-face {
	font-family: 'CooperHewitt-Light';
	src: url('CooperHewitt-Light.otf');
}

/** CSS by Widzialni.pl **/
h1 {
	font-family: Tahoma;
	font-size: 32px;
	margin: 0;
}

.nav a {
	font-family: 'CooperHewitt-Light';
	color: #FFFCE3;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-main a {
	font-family: Tahoma;
	color: #330000;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

.nav {
	padding-top: 5px;
}	
	
h1.smaller {
	font-size: 22px !important;
}	
	
h2 { padding: 0; margin: 0 }	
	